:root {
	--xs: 4px;
	--sm: 8px;
	--md: 16px;
	--lg: 24px;
	--xl: 32px;
	--2xl: 48px;
	--3xl: 64px;
	--4xl: 96px;
	--5xl: 128px;
	--6xl: 192px;
	--7xl: 288px;
	--8xl: 384px;
	--9xl: 576px;
	--10xl: 768px;
	--11xl: 1024px;
	--12xl: 1536px;

	--font-sm: 12px;
	--font-md: 16px;
	--font-lg: 20px;
	--font-xl: 24px;
	--font-2xl: 30px;

	--primary-color: #ed1f3a;
	--secondary-color: #002395;
	--text-color: #333;
	--text-color-secondary: #666;
	--link-color: #ed1f3a;
	--focus-color: var(--primary-color);

	--bg-color: transparent;
	--scroll-color: #ccc;

	--bg-hatched: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAIPHjz4zwjjgzgKCgqMYAEYB8RmROaABAAIDA+kWCZ42QAAAABJRU5ErkJggg==)
		repeat;
}
